*{
    font-family: roboto, san-serif;
}
:root{
    --color1: #41679f;
    --color2: #22516f;
    --color3: #5BB5D9;
    --color4: #BABEBF;
    --color5: #F2F2F2;
    --color6: #00ABCC;
    --color7: #F26C5C;
}
#logo{
    margin: 1rem;
    animation: rotar 8s linear infinite;
}
@keyframes rotar {
    0%{
        transform: rotate3d(2, 1, 0, 360deg)
    }
}
#articule{
    margin: auto;
    position: relative;
    z-index: 1;
}
#imagenEmpresa img{
    position: absolute;
    left: 1000px;
    top: -80px;
    z-index: 2;
}
#texto{
    background-color: var(--color6);
    box-shadow:10px 10px 5px #aaaaaa;
}
#pregunta1, #pregunta2, #pregunta3{
    padding: 2rem 6rem;
    background-color: var(--color6);
    box-shadow:10px 10px 5px #aaaaaa;
}
#section{
    background-image: linear-gradient(to bottom right, #5BB5D9, #41679f, #BABEBF)
}
#articule h1{
    font-size: 2rem;
}
#articule h2{
    font-size: 1.5rem;
}
#articule p{
    padding-bottom: 1.5rem;
}
#nombre{
    width: 15rem;
    margin-bottom: 1rem;
}
#comenzar{
    display: flex;
    justify-content: flex-end;
}
#boton, #comprobar1, #comprobar2, #comprobar3{
    background-color: #F26C5C;
    color: white;
}
#boton:hover{
    border-radius: 80%;
}
#foot p, #foot2 p, #foot3 p{ 
    animation: movimiento 30s linear infinite;
}
@keyframes movimiento{
    0%{
        transform: translateX(0px)
    }
    100%{
        transform: translateX(2000px)
    }
}
#preguntas label, #preguntas2 label, #preguntas3 label{
    display: block;
}

