*{
    font-family: roboto, san-serif;
}
:root{
    --color1: #41679f;
    --color2: #22516f;
    --color3: #5BB5D9;
    --color4: #BABEBF;
    --color5: #F2F2F2;
    --color6: #00ABCC;
    --color7: #F26C5C;
}
#logo{
    margin: 0rem;
    padding: 1rem;
    animation: rotar 8s linear infinite;
    -webkit-animation: rotar 8s linear infinite;
    -moz-animation: rotar 8s linear infinite;
    -o-animation: rotar 8s linear infinite;
}
@keyframes rotar{
    0%{
        transform: rotate3d(2, 1, 0, 360deg)
    }
}
#articule{
    margin: auto;
}
#texto{
    background-color: var(--color6);
    box-shadow:10px 10px 5px #aaaaaa;
}
#pregunta1, #pregunta2, #pregunta3, #pregunta4, #pregunta5, #pregunta6{
    padding: 2rem 6rem;
    background-color: var(--color6);
    box-shadow:10px 10px 5px #aaaaaa;
}
#section{
    background-image: linear-gradient(to bottom right, #5BB5D9, #41679f, #BABEBF)
}
#articule h1{
    font-size: 2rem;
}
#articule h2{
    font-size: 1.5rem;
}
#articule p{
    padding-bottom: 1.5rem;
}
#nombre{
    width: 15rem;
    margin-bottom: 1rem;
}
#comenzar{
    display: flex;
    justify-content: flex-end;
}
#boton, #comprobar1, #comprobar2, #comprobar3, #comprobar4, #comprobar5, #comprobar6{
    background-color: #F26C5C;
    color: white;
}
#acceso{
    display: none;
}
#boton:hover{
    border-radius: 80%;
}
#foot p, #foot2 p, #foot3 p, #foot4 p, #foot5 p, #foot6 p{ 
    animation: movimiento 30s linear infinite;
    -webkit-animation: movimiento 30s linear infinite;
    -o-animation: movimiento 30s linear infinite;
    -moz-animation: movimiento 30s linear infinite;
}
@keyframes movimiento{
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(100%)
    }
}
#preguntas label, #preguntas2 label, #preguntas3 label, #preguntas4 label, #preguntas5 label, #preguntas6 label{
    display: block;
}
@media only screen and (max-width: 768px ){
#pregunta2, #pregunta1, #pregunta3, #pregunta4, #pregunta5, #pregunta6{
    padding: 1rem;
    }
#foot p, #foot2 p, #foot3 p, #foot4 p, #foot5 p, #foot6 p{
    animation: none;
    -moz-animation: none;
    -o-animation: none;
    -webkit-animation: none;
    padding: 0rem 0.5rem;
    }       
#logo{
    padding: 0.5rem;
    margin: 0rem;
    }    
#section .hero-body{
    padding: 1rem 1.5rem 0rem;
    }   
#articule{
    margin: 1rem 0rem;
    }     
}

    


